import java.util.Scanner;
public class aritmatika {
    public static void main(String[] args) {
        Scanner input = new Scanner(System.in);
        int itemprice, quantity, discount, totalprice, payment, recharge;
    Scanner nama = new Scanner(System.in);

    System.out.println("ES Compannies Portal - Cashier App"); 
    System.out.println("================================="); 
    System.out.print("Item name: "); 
    String itemname = nama.nextLine();
    System.out.print("Item price: ");
    itemprice = input.nextInt();
    System.out.print("Item quantity [1..20]: ");
    quantity = input.nextInt();
    System.out.print("Item discount [0..100]: ");
    discount = input.nextInt();

    System.out.println("  "); 

    System.out.println("ES Compannies Portal - Cashier App");
    System.out.println("================================="); 
    System.out.println("Item name: "  + itemname);
    System.out.println("Item price: " + itemprice + "$");
    System.out.println("Item quantity: " + quantity);
    System.out.println("Item discount: " + discount+ "%");
    System.out.println("  "); 
    totalprice = (itemprice*quantity*(100-discount)/100);
    System.out.println("You have to pay: "  + totalprice + "$");

    System.out.println("  "); 

    System.out.print("Input your money [use decimal number]: ");
    payment = input.nextInt();

    System.out.println("  "); 
    
    recharge = (payment-totalprice);
    System.out.println("Thanks for phurchasing!");
    System.out.println("Your change: "  + recharge + "$");

    }
}
